
@model Category

<h1>create</h1>

<form method="post" action="/categories/create">
	<div class="mb-3">
	<input type="text" name="Name" class="form-control" value="@Model.Name" placeholder="Category ... name"/>
		<span asp-validation-for="Name"></span>
	<textarea class="form-control" name="Description" placeholder="Category..... description">@Model.Description</textarea>
		<span asp-validation-for="Description"></span>
	<button type="submit" clas="button">Save</button>
	</div >

</form>