<!DOCTYPE html>
<html>
<head>
    <title>

    </title>
</head>
<body>
    <h1>Categories</h1>
    <a href="/categories/create">create</a>
    @foreach(var item in @Model)
    {
     <h2>@item.Name</h2>
     <a href="/categories/Details/@item.Id">Details</a>
        <a href="/categories/Delete/@item.Id">Delete</a>
        <a href="/categories/Edit/@item.Id">Edit</a>
    }

    </body>
    </html>
